<%-layout("layouts/boilerplate")%>

    <div class="row">
        <div class="col-4 offset-2">
            <h3 class="mb-3 mt-3">
                <%= hotel.title %>
            </h3>
            <img src="/<%=hotel.image%>" class="card-img-top col-2" alt="..." style="height: 18rem;">


        </div>


    </div>

    <div class="row">
        <div class="col-2 offset-2">
            <p>
                <b>Listing Details</b> <br>
                <%= hotel.description %> <br>
               By: @<%= hotel.owner.username %> <br>
                    <%= hotel.location %> <br>
                        <%= hotel.country %> <br>
                            &#8377; <%= hotel.price.toLocaleString("en-IN") %> <br>
            </p>

        </div>

    </div>
    <hr>
    <div class="row"></div>
    <%if(currUser) { %>
    <div class="col-8 offset-2">
        <form action="/listings/<%= hotel._id%>/reviews" method="POST" novalidate class="needs-validation">
            <label for="customRange3" class="form-label">Rating</label>
            <!-- <input type="range" class="form-range" min="1" max="5" step="1" id="customRange3" name="review[rating]"> -->
            <fieldset class="starability-slot">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" checked/>
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <div class="mb-3"><label for="title" class="form-label">Review</label>
                <input id="title" type="text" name="review[comment]" placeholder="Review" class="form-control" required>
                <div class="invalid-feedback">
                    Rview Should Not be EMPTY.
                </div>
            </div>

            <button class="btn btn-primary " type="submit"> Submit</button>
        </form>
    </div>
    <%}%>



    <div class="row mt-2">
        <div class="col-8 offset-2">
        <h6>Reiviews</h6>
        <div class="row">
        <%for(var review of hotel.reviews){%>
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.owner.username%></h5>
                        <h3>Rated element name</h3>
                        <p class="starability-result" data-rating="<%= review.rating%>">
                          Rated: 3 stars
                        </p>
                        <p class="card-text"><%= review.comment%></p>
                        <%if(currUser&&currUser._id.equals(review.owner._id)) { %>
                        <form action="/listings/<%=hotel._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button type="submit"class="btn btn-danger mb-2">Delete</button>
                        <!-- <a href="#" </a> -->
                        </form>
                        <%}%>
                        

                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>

    </div>

   



  <%if(currUser&&currUser._id.equals(hotel.owner._id)) { %>
    <div class="btns">
        <br>
        <a class="btn btn-primary btn-edit" href="/listings/<%= hotel._id%>/edit"> Edit</a>

        <form id="formAddUser" method="POST" action="/listings/<%= hotel._id%>?_method=DELETE">

            <button class="btn btn-danger " type="button" onclick="checker()"> Delete</button>
        </form>
    </div>
    <%}%>
</div>

    <script>
        function checker() {
            if (window.confirm("Are you sure")) {
                document.getElementById("formAddUser").submit();
            } else {
                return;
            }
        }
    </script>